{% extends 'blog/base.html' %}

{% block content %}
<div class="content-section text-center mt-5">
<h1 class="content-section">About</h1>
<p>QSnippets (Quick Snippets) is a personal blog project to record code problems that I encounter while learning Django. Providing a quick, yet detailed snippet about the possible problem and the solution I used to fix it.
    For the time being the site will not be a publically launched site. Instead its just a reference tool for me to use while I master the art of Django!<i class="text-muted"><br><small>-So basically im talking to myself here-</i></small><br><br> The majority of this website was built thanks to a very userfull Youtube tutorial series presented by Corey Shaefer. Although the course is a couple of years old, nothing in the lessons are outdated. I found it to be an incredibly informative tutorial!
<br><br>
To view or share snippets, please create an account and log in. You might just find the solution to your problem!
</p>
</div>
{% endblock content %}


