{% extends 'blog/base.html' %}

{% block content %}
<div class="content-section text-center mt-5">
<h1 class="content-section">About</h1>
<p>Toxic Paradise's main goal is to report toxic players of the CODM South Africa community.
     If you encounter a toxic person online who just keeps popping up with a new name , you can report them here with their UID.
      We hope to provide a service for tournament hosts and clan leaders when accepting a new member into their clan.
       You can now search for a UID on Toxic Paradise to see if that person has ever been reported here for toxic / abusive behavior on the game , and make a decision accordingly. Help us cleans our community!</p>
<br><br>
To report a player please create an account and log in.
</p>
</div>
{% endblock content %}


