{% extends 'blog/base.html' %}
{% load thumbnail %}

{% block content %}



<br>
<h1 class='text-center text-light'>All Reported Players</h1>
<hr>

    {% for post in posts %}
        <article class="media content-section text-center mt-5">
            
            <div class="article-metadata text-left ">
            
                <h4>REPORT {{ post.id }}</h4>
                <small class="text-muted ">{{ post.date_posted }}</small><hr><br>
                <small> {{ post.total_likes }} Agrees with this</small><br>
                <small> {{ post.total_dislikes }} Disagrees with this</small>
            </div>
            <div class="media-body">
                
                
                <h2 class='article-title mt-3'>Current IGN: <h4 style="font-family: 'Orbitron', sans-serif;">{{post.ign }}</h4></h2>
                <h2 class="article-title2 mt-3"style="position:relative;">UID:<a class="article-title text-center" href="{% url 'post-detail' post.id%}"><h4 style="font-family: 'Teko', sans-serif;color: darkcyan;">{{ post.uid|title }}</h4></h2>
                    <small><p class="text-danger">More Info!</p></small>
                <div class="pp">
                    <a href="{% url 'post-detail' post.id%}"></a>
                    
                
            
                
                
            </div>
            </article>
    {% endfor %}
<div class="pa text center">
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark btn-light btn-sm mb-4 text-center"href="?page=1">1</a>
            <a class="btn btn-outline-dark btn-light btn-sm mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
        
            {% if page_obj.number == num %}
                <a class="btn btn-outline-dark btn-sm btn-light mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
            <a class="btn btn-outline-dark btn-sm btn-light mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        
        {% endfor %}

        
        {% if page_obj.has_next %}
        <a class="btn btn-outline-dark btn-sm btn-light mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-dark btn-light btn-sm mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}


    {% endif %}

</div>

    {% endblock content %}
    
