{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section mt-5">
    <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Report</legend>
            <p class="text-danger">Reports that do not contain an evidence image or a valid reason will be removed after 7 days!</p><hr>
            {{ form|crispy }}
            
        </fieldset>
        <div class="form-group">
            
            <button class="btn btn-outline-info" type="submit" style="color: rgb(0, 0, 0);">Post</button>
        </div>
    </form>
    
</div>

{% endblock %}